<form [formGroup]="form" (submit)="create()">
  <h1 mat-dialog-title>Создание новой категории</h1>
  <div mat-dialog-content>
    <div class="full-width">
      <mat-label>Родительская категория</mat-label>
      <app-product-type-select formControlName="parentTypeId" [canAdd]="false"></app-product-type-select>
    </div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Название новой категории</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Закрыть</button>
    <button mat-button [disabled]="form.invalid">Созать</button>
  </div>
</form>
