<h1 mat-dialog-title>Прямая скидка</h1>
<div mat-dialog-content>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <p [matTooltip]="bonus?.shops|listToString:'name'">Магазины: {{!bonus.shops?'Все':bonus.shops.length}}</p>
      </div>
      <div>
        <p [matTooltip]="bonus?.products|listToString:'name'">Продукты: {{!bonus.products?'Все':bonus.products.length}}
        </p>
      </div>
    </div>
  </div>
  <p>Условия</p>
  <app-retro-bonus-condition *ngFor="let type of bonus.types" [type]="type"> </app-retro-bonus-condition>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Закрыть</button>
  <button mat-button (click)="edit()">Редактировать</button>

</div>
