<form (submit)="sellProductClick()">
  <h1 mat-dialog-title>Продукт "{{productLeft.product.name}}"</h1>
  <div mat-dialog-content>
    <div fxLayout="row">
      <div fxFlex="50">
        <p>{{productLeft.product.name}}</p>
        <p>Цена за 1шт.:{{productLeft.retailPrice}}</p>
        <p>Текущее количество: {{form.controls.count.value}}</p>
        <p>Итого: {{form.controls.count.value*productLeft.retailPrice}}</p>
      </div>
      <div fxFlex="50">
        <app-numpad (countEvent)="getCount($event)" [delta]="1000"></app-numpad>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Закрыть</button>
    <button mat-raised-button color="warn" [disabled]="form.invalid">Продать</button>
  </div>
</form>
