<app-table [loadData]="loadData.bind(this)">
  <ng-container matColumnDef="fromShop">
    <th mat-header-cell *matHeaderCellDef>От магазина </th>
    <td mat-cell *matCellDef="let element"> {{element.fromShop?.name|absent}}</td>
  </ng-container>
  <ng-container matColumnDef="fromUser">
    <th mat-header-cell *matHeaderCellDef> Принял деньги </th>
    <td mat-cell *matCellDef="let element"> {{element.fromUser?.fio|absent}}</td>
  </ng-container>
  <ng-container matColumnDef="payedUser">
    <th mat-header-cell *matHeaderCellDef> Олативший сотрудник </th>
    <td mat-cell *matCellDef="let element"> {{element.payedUser?.fio|absent}}</td>
  </ng-container>
  <ng-container matColumnDef="acceptedUser">
    <th mat-header-cell *matHeaderCellDef> Принявший оплату сотрудник </th>
    <td mat-cell *matCellDef="let element"> {{element.acceptedUser?.fio|absent}}</td>
  </ng-container>
  <ng-container matColumnDef="sum">
    <th mat-header-cell *matHeaderCellDef> Сумма </th>
    <td mat-cell *matCellDef="let element"> {{element.sum}}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.transferState==MoneyTransferState.WaitAccept">
        <button mat-raised-button (click)="acceptTransfer(element)" >Подтвердить получение</button>
      </div>
      <div *ngIf="element.transferState==MoneyTransferState.Transfared">
        <button mat-raised-button >Выплата подтверждена</button>
      </div>
    </td>
  </ng-container>
</app-table>
