<div class="m-10">
  <button mat-raised-button (click)="createAttribute()">Создать арибут</button>
</div>

<app-table [loadData]="loadData.bind(this)" [columns]="['name','isShop']" (rowClick)="attributeInfo($event)">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Продукт</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="isShop">
    <th mat-header-cell *matHeaderCellDef>Создан магазином</th>
    <td mat-cell *matCellDef="let element"> {{element.shop|yesNo}} </td>
  </ng-container>
</app-table>
