<!-- <mat-drawer-container class="example-container" class="main-container">
  <mat-drawer #drawer class="example-sidenav" mode="over" opened="false">
    <mat-list>
      <mat-list-item> <a class="nav" mat-raised-button color="primary" routerLink="/game/active"
          (click)="drawer.toggle()">Активные игры</a>
      </mat-list-item>
   </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DUK</span>
    </mat-toolbar>
    <router-outlet class="container"></router-outlet>
  </div>

</mat-drawer-container> -->
<div class="container">
  <router-outlet></router-outlet>
</div>
