<div class="m-10">
  <button mat-raised-button (click)="create()">Привязать шаблон к существуещуму типу</button>
</div>
<app-table #table [loadData]="loadData.bind(this)" >
  <ng-container matColumnDef="receiptType">
    <th mat-header-cell *matHeaderCellDef> Тип операции</th>
    <td mat-cell *matCellDef="let element"> {{element.receiptType.name}} </td>
  </ng-container>
  <ng-container matColumnDef="receiptTemplate">
    <th mat-header-cell *matHeaderCellDef> Название шаблона</th>
    <td mat-cell *matCellDef="let element"> {{element.receiptTemplate.name}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="$event.stopPropagation();edit(element.id)">Редактировать</button>
    </td>
  </ng-container>
</app-table>
