<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <p>Тип: {{EnumDisplayCollection.RetroBonusTypeDisplay[type.type]}}</p>
  </div>
  <div>
    <ng-container [ngSwitch]="type.type">
      <ng-container *ngSwitchCase="EnumCollection.RetroBonusTypeEnum.sellIn">
        <p>От (кол-во): {{type.sellIn.from}}. До (кол-во): {{type.sellIn.to}}. Возврат: {{type.sellIn.value}} %</p>
      </ng-container>
      <ng-container *ngSwitchCase="EnumCollection.RetroBonusTypeEnum.sellOut">
        <p>От (кол-во): {{type.sellOut.from}}. До (кол-во): {{type.sellOut.to}}. Возврат: {{type.sellOut.value}} %</p>
      </ng-container>
      <ng-container *ngSwitchCase="EnumCollection.RetroBonusTypeEnum.marketing">
        <p>Пояснение: {{type.marketing.description}}</p>
        <p>Возврат: {{type.marketing.value}} %</p>
      </ng-container>
      <ng-container *ngSwitchCase="EnumCollection.RetroBonusTypeEnum.debit">
        <p>От (дни): {{type.debit.fromDays}}. До (дни): {{type.debit.toDays}}. Возврат: {{type.debit.value}} %</p>
      </ng-container>
    </ng-container>
  </div>
</div>
