<mat-drawer-container class="full-page">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <mat-list>
      <mat-list-item>
        <p>Остатки</p>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/shop/lefts/sell">Продажа товаров</a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/shop/lefts">Остатки продуктов</a>
      </mat-list-item>
      <mat-list-item>
        <p>Заказы</p>
      </mat-list-item>
      <mat-list-item> <a class="nav" mat-button color="primary"
          routerLink="/till/provider/requests">Поставщика</a>
      </mat-list-item>
      <mat-list-item> <a class="nav" mat-button color="primary" routerLink="/till/seller/requests">Магазина</a>
      </mat-list-item>
      <mat-list-item> <a class="nav" mat-button color="primary" routerLink="/till/logistic/requests">Логиста</a>
      </mat-list-item>
      <mat-list-item>
        <p>Продукты</p>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/shop/products">
          Эксклюзивные продукты
        </a>
      </mat-list-item>
      <mat-list-item>
        <p>Магазин</p>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/shop/about">
          Информация
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/shop/casher-places">
          Кассы
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/shop/staff">
          Сотрудники
        </a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/shop/departaments">
          Отделы
        </a>
      </mat-list-item>
      <mat-list-item>
        <p>Специальные условия</p>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/special-terms/sale-forms">Формы продажи и взаиморасчетов</a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/shop/products">Прямые скидки</a>
      </mat-list-item>
      <mat-list-item>
        <a class="nav" mat-button color="primary" routerLink="/till/shop/products">Ретро бонусы</a>
      </mat-list-item>
    </mat-list>

    <mat-list-item>
      <p>Финансы</p>
    </mat-list-item>
    <mat-list-item>
      <a class="nav" mat-button color="primary" routerLink="/till/cash/cash-periods/current">Касса</a>
    </mat-list-item>
    <mat-list-item>
      <a class="nav" mat-button color="primary" routerLink="/till/cash/cash-periods">Периоды расчета</a>
    </mat-list-item>
    <mat-list-item>
      <a class="nav" mat-button color="primary" routerLink="/till/cash/money-transfers">Фин. обязательства</a>
    </mat-list-item>
    <mat-list-item>
      <a class="nav" mat-button color="primary" routerLink="/till/cash/supply-debts">Долги по поставкам</a>
    </mat-list-item>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>DUK</span>

      <span class="spacer"></span>
      <div *ngIf="user">
        <span>{{user.fio}}</span>
      </div>
      <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <div clas="full-page">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
