<mat-drawer-container class="full-page">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <mat-list>
      <app-nav-title title="Остатки"></app-nav-title>
      <app-nav title="Продажа товаров" path="/till/shop/lefts/sell"></app-nav>
      <app-nav title="Остатки продуктов" path="/till/shop/lefts"></app-nav>

      <app-nav-title title="Заказы"></app-nav-title>

      <app-nav title="Поставщик" path="/till/provider/requests"></app-nav>
      <app-nav title="Магазин" path="/till/seller/requests"></app-nav>
      <app-nav title="Логист" path="/till/logistic/requests"></app-nav>

      <app-nav-title title="Продукты"></app-nav-title>

      <app-nav title="Эксклюзивные продукты" path="/till/shop/products"></app-nav>
      <app-nav title="Эксклюзивные атрибуты" path="/till/shop/attributes"></app-nav>
      <app-nav title="Эксклюзивные категории" path="/till/shop/product-types"></app-nav>

      <app-nav-title title="Магазин"></app-nav-title>

      <app-nav title="Информация" path="/till/shop/about"></app-nav>
      <app-nav title="Кассы" path="/till/shop/casher-places"></app-nav>
      <app-nav title="Сотрудники" path="/till/shop/staff"></app-nav>
      <app-nav title="Отделы" path="/till/shop/departaments"></app-nav>
      <app-nav title="Акции" path="/till/shop/promotions"></app-nav>

      <app-nav-title title="Специальные условия"></app-nav-title>

      <app-nav title="Формы продажи и взаиморасчетов" path="/till/special-terms/sale-forms"></app-nav>
      <app-nav title="Прямые скидки" path="/till/special-terms/direct-discounts"></app-nav>
      <app-nav title="Ретро бонусы" path="/till/special-terms/retro-bonuses"></app-nav>

      <app-nav-title title="Финансы"></app-nav-title>

      <app-nav title="Касса" path="/till/cash/cash-periods/current"></app-nav>
      <app-nav title="Периоды расчета" path="/till/cash/cash-periods"></app-nav>
      <app-nav title="Фин. обязательства" path="/till/cash/money-transfers"></app-nav>
      <app-nav title="Долги по поставкам" path="/till/cash/supply-debts"></app-nav>
      <app-nav title="Обязательства по ретро-бонусам" path="/till/cash/retro-bonuses"></app-nav>

      <app-nav-title title="Группы"></app-nav-title>

      <app-nav title="Магазины" path="/till/groups/shops"></app-nav>
      <app-nav title="Продукты" path="/till/groups/products"></app-nav>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>

      <span class="spacer"></span>
      <div class="mr-10">
        <a (click)="selectShopclick()">Текущий магазин: {{currentShop?currentShop.name:'Отсуствует'}}</a>
      </div>
      <div *ngIf="user">
        <span>{{user.fio}}</span>
      </div>
      <button mat-icon-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <div clas="full-page">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
