<div [formGroup]="form">
  <div class="m-10">
    <button mat-raised-button (click)="addField()">Добавить поле</button>
  </div>
  <mat-accordion formArrayName="fields">
    <mat-expansion-panel *ngFor="let field of fields.controls;let i = index" [formGroupName]="i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Поле {{i+1}}
        </mat-panel-title>
        <mat-panel-description>
          <button mat-raised-button color="warn" (click)="removeField(i)">Удалить поле</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline" class="m-10">
        <mat-label>Поле</mat-label>
        <mat-select formControlName="type" [compareWith]="{}|compareWith:''">
          <mat-option value="0">Обычное</mat-option>
          <mat-option value="1">Двойное</mat-option>
          <mat-option value="2">Сложное</mat-option>
          <mat-option value="3">Отступ</mat-option>
          <mat-option value="4">Линия</mat-option>
          <mat-option value="5">Таблица</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container [ngSwitch]="field.controls.type.value">
        <app-simple-text-area *ngSwitchCase="0"  formControlName="data"></app-simple-text-area>
        <app-double-text-area *ngSwitchCase="1"  formControlName="data"></app-double-text-area>
        <app-complex-text-area *ngSwitchCase="2" formControlName="data"></app-complex-text-area>
        <app-indent-area *ngSwitchCase="3" formControlName="data"></app-indent-area>
        <app-line-area *ngSwitchCase="4" formControlName="data"></app-line-area>
        <app-table-area *ngSwitchCase="5" formControlName="data"></app-table-area>
      </ng-container>
      <div class="m-10">


      </div>
      <mat-action-row>
        <button mat-raised-button (click)="move(1, i)">Вниз</button>
        <button mat-raised-button (click)="move(-1, i)">Вверх</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
