<div class="m-10">
  <button mat-raised-button (click)="createStaff()">Создать нового пользователя</button>
</div>
<app-table [loadData]="loadData.bind(this)" [columns]="['fio','role']">
  <ng-container matColumnDef="fio">
    <th mat-header-cell *matHeaderCellDef> Ф.И.О. </th>
    <td mat-cell *matCellDef="let element"> {{element.fio}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Роль </th>
    <td mat-cell *matCellDef="let element"> {{element.role.name}} </td>
  </ng-container>
</app-table>
