<h1 mat-dialog-title>Закуп "{{productLeft.product.name}}"</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Укажите необходимое количество товара "{{productLeft.product.name}}"</mat-label>
      <input  matInput type="number" min="0" formControlName="count">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Желаемая дата доставки</mat-label>
      <input matInput placeholder="Дата доставки" type="date" [min]="today" formControlName="planeDeliveryDate">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Наценка</mat-label>
      <input  matInput type="number" min="0" formControlName="markup">
    </mat-form-field>
    <p>Форма продажи: {{EnumDisplayCollection.SaleFormTypeDisplay[saleForm.saleFormType]}}</p>
    <ng-container *ngIf="saleForm.saleFormType==1">
      <p>Срок консигнации: {{saleForm.maxTermConsignment}}</p>
    </ng-container>
    <p>Скидка: {{directDiscount}} %</p>
    <p>Цена: {{productLeft.retailPrice}}</p>
    <p>Цена с наценкой: {{productLeft.retailPrice+productLeft.retailPrice*(markup/100)}}</p>
    <p>Текущая стоимость: {{totalSum}}</p>
    <p>С учетом скидки: {{totalDiscountSum}}</p>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Закрыть</button>
  <button mat-button mat-dialog-close [disabled]="form.invalid" (click)="createrRequest()" >Заказать</button>
</div>
