<ng-container *ngIf="isLoad">
  <ng-container *ngIf="cashPeriod;else empty">
    <div fxLayout="column">
      <p>Текущая касса: {{cashPeriod.casherPlace.name}}</p>
      <p>Текущий кассир: {{cashPeriod.user.fio}}</p>
      <p>Сумма на начало: {{cashPeriod.startSum}}</p>
      <p>Остаток в кассе: {{cashPeriod.expectedEndSum}}</p>
      <div>
        <button mat-raised-button (click)="closeCurrentPeriod()">Закрыть период</button>
        <button mat-raised-button (click)="collectCash()">Произвести инкассацию</button>
      </div>
    </div>
    <h3>Чеки</h3>
    <app-cash-period-receipts-table [cashPeriodId]="cashPeriod.id"></app-cash-period-receipts-table>
  </ng-container>
  <ng-template #empty>
    <p>У Вас отсуствует активный период расчета</p>
    <button mat-raised-button (click)="openNewPeriod()">Открыть новый период</button>
  </ng-template>
</ng-container>
