<div class="m-10">
  <button mat-raised-button color="primary" (click)="createSaleForm()">Создать новую форму продажи</button>
</div>
<app-table [loadData]="loadData.bind(this)" [columns]="displayedColumns" (rowClick)="saleFormRowClick($event)">
  <ng-container matColumnDef="shop">
    <th mat-header-cell *matHeaderCellDef> Магазин </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.shopSelectionForm==1">
        {{element.shop.name}}
      </ng-container>
      <ng-container *ngIf="element.shopSelectionForm==0">
        Все
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef> Товар </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.productSelectionForm==1">
        {{element.product.name}}
      </ng-container>
      <ng-container *ngIf="element.productSelectionForm==0">
        Все
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="canConsignment">
    <th mat-header-cell *matHeaderCellDef> Консигнация </th>
    <td mat-cell *matCellDef="let element">
      {{element.canConsigment|yesNo}}
    </td>
  </ng-container>
  <ng-container matColumnDef="canImplement">
    <th mat-header-cell *matHeaderCellDef> Реализация </th>
    <td mat-cell *matCellDef="let element">
      {{element.canImplement|yesNo}}
    </td>
  </ng-container>
  <ng-container matColumnDef="cash">
    <th mat-header-cell *matHeaderCellDef> Нал. </th>
    <td mat-cell *matCellDef="let element">
      {{element.cash|yesNo}}
    </td>
  </ng-container>
  <ng-container matColumnDef="cashless">
    <th mat-header-cell *matHeaderCellDef> Безнал. </th>
    <td mat-cell *matCellDef="let element">
      {{element.cashless|yesNo}}
    </td>
  </ng-container>
</app-table>
