<div class="calc-container">
  <button mat-stroked-button type="button" (click)="numberClick(1)" >1</button>
  <button mat-stroked-button type="button" (click)="numberClick(2)">2</button>
  <button mat-stroked-button type="button" (click)="numberClick(3)">3</button>

  <button mat-stroked-button type="button" (click)="numberClick(4)">4</button>
  <button mat-stroked-button type="button" (click)="numberClick(5)">5</button>
  <button mat-stroked-button type="button" (click)="numberClick(6)">6</button>

  <button mat-stroked-button type="button" (click)="numberClick(7)">7</button>
  <button mat-stroked-button type="button" (click)="numberClick(8)">8</button>
  <button mat-stroked-button type="button" (click)="numberClick(9)">9</button>

  <button mat-stroked-button type="button" (click)="clearClick()">C</button>
  <button mat-stroked-button type="button" (click)="numberClick(0)">0</button>
  <button mat-stroked-button type="button" (click)="backspaceClick()"><</button>
</div>
