<h1 mat-dialog-title>Форма продажи</h1>
<div mat-dialog-content>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <p [matTooltip]="saleForm?.shops|listToString:'name'">Магазин: {{!saleForm.shops?'Все':saleForm.shops.length}}</p>
      </div>
      <div>
        <p [matTooltip]="saleForm?.products|listToString:'product.name'">Продукт: {{!saleForm.products?'Все':saleForm.products.length}}</p>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <p>Возможность консигнации: {{saleForm.canConsignment|yesNo}}</p>
    </div>
    <div *ngIf="saleForm.canConsignment">
      <p>Макс. срок консигнации: {{saleForm.maxTermConsignment}}</p>
    </div>
    <div *ngIf="saleForm.canConsignment">
      <p>Заказы при просрочке: {{saleForm.orderOnDelayConsignment|yesNo}}</p>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <p>Возможность реализации: {{saleForm.canImplement|yesNo}}</p>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <p>Нал. расчет: {{saleForm.cash|yesNo}}</p>
  </div>
  <div>
    <p>
      Безнал. расчет: {{saleForm.cashless|yesNo}}</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Закрыть</button>
  <button mat-button (click)="editSaleForm()" >Редактировать</button>
</div>
